* {margin:0;padding:0;}
.container {
    margin: 0 auto;
    max-width: 1128px;
    min-width: 60vw;
    width: 100%;
}

header {
    background-color: #101d2d;
    color: white;
    display: flex;
    padding: 8px;
}

.headerContent {
    display: flex;
    flex-wrap: wrap;
}

.headerContent > img {
    max-width: 500px;
    margin: 20px 0;
    display: inline-block;
    width: 100%;
}

.headerContent > div {
    max-width: 488px;
    margin-right: 60px;
    display: inline-block;
}

.headerContent  p {
    color: #95A4B4;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.headerTop{
    height: 80px;
}

h2 {
    font-size: 52px;
    line-height: 62px;
    font-family: "Playfair Display", serif
}

.triangulo {
    display: block;
    width: 100%;
    height: 90px;
    background: #101d2d;
  }

main {
    margin: 10px auto;
    text-align: center;
}

a.form-button {
    background-color: white;
    border: 1px solid #101d2d;
    color: #101d2d;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    padding: 8px;
    font-size: 18px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

a.form-button:hover {
    background-color: #101d2d;
    color: #fff;
  }
